<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="/static/images/favicon/logo.png" type="image/x-icon">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/home/navbar.css">
  <link rel="stylesheet" href="/static/css/home/style.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/static/images/favicon/logo.png"  class="logo-img" alt=""> Adorabell
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-compass"></i> Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-heart"></i> Notifications</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container mt-3">
    <!-- Sample content -->
    <div class="row">
      <div class="col-md-8">
        <!-- Main content here -->
        <h1>🎉 Welcome to Adorabell! 🎉</h1>

        <div class="col-lg-8">
            <!-- Sample Post -->
            <div class="card mb-3 post">
              <div class="card-header">
                <img src="/static/images/pfp/nahida.png" class="rounded-circle mr-2" width="40" height="40" alt="Profile Picture">
                <span class="font-weight-bold">Nahida</span>
                <i class="fas fa-ellipsis-h float-right"></i>
              </div>
              <img src="/static/images/post/idc.png" class="square-image" alt="Post Image">
              <div class="card-body">
                <h5 class="card-title">Sample Post</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                <a href="#" class="btn btn-primary">Like</a>
                <a href="#" class="btn btn-secondary">Comment</a>
                <a href="#" class="btn btn-info">Share</a>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <!-- Sample Post -->
            <div class="card mb-3 post">
              <div class="card-header">
                <img src="/static/images/pfp/raiden.png" class="rounded-circle mr-2" width="40" height="40" alt="Profile Picture">
                <span class="font-weight-bold">Raiden Shogun</span>
                <i class="fas fa-ellipsis-h float-right"></i>
              </div>
              <img src="/static/images/post/puppy.jpeg" class="square-image" alt="Post Image">
              <div class="card-body">
                <h5 class="card-title">Sample Post</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                <a href="#" class="btn btn-primary">Like</a>
                <a href="#" class="btn btn-secondary">Comment</a>
                <a href="#" class="btn btn-info">Share</a>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-4 story-section">
        <!-- Sidebar content here -->
        <h3>Sidebar</h3>

        <div class="card mb-3 story">
            <div class="card-body">
              <h5 class="card-title">Latest Stories</h5>
              <div class="row">
                <div class="col-3">
                  <img src="/static/images/pfp/raiden.png" class="rounded-circle" width="50" height="50" alt="Story Image">
                </div>
                <div class="col-9">
                  <p class="card-text">Raiden Shogun</p>
                </div>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>

  <!-- Bootstrap and Font Awesome scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
